@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    overflow: hidden;
    height: 100%;
}

main {
    padding: 20px;
    margin-top: 92px;
}

body {
    font-family: sans-serif;
    background-color: #131720;
    overflow: auto;
    height: 100%;
    margin: 0;
    padding: 0;
}

.home {
    color: white;
    
}

h3 {
    color: white;
}

nav {
    background: #131720;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    z-index: 100;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: white 3px solid;
}

label.logo {
    color: white;
    font-size: 35px;
    padding: 0 50px;
    font-weight: bold;

}

label.logo a {
    text-transform: uppercase;
    color: white;
}



nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;

}



nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

li a.active,
li a:hover {
    border: gold 3px solid;
}

.checkbutton {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media only screen and (max-width: 1280px) {
    .checkbutton {
        display: block;
        float: right;
        order: 2;
    }

    .logo {
        order: 1;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #131720;
        top: 80px;
        left: -100%;
        text-align: center;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        overflow-y: scroll;
        max-height: calc(100vh - 80px);
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: white;
    }

    #check:checked~ul {
        left: 0;
    }
}

form {
    color: white;
    text-shadow: black 1px 1px 10px;
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.about {
    color: white;
    text-decoration: none;
}

.about a {
    text-decoration: white;
    color: gold;
}

.about a:hover { 
    text-decoration: none; color:orange; 
}
.about a:focus { 
    text-decoration: none; color:orange; 
}
.about a:active { 
    text-decoration: none; color: rgb(172, 146, 0)
}

.user-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #131720;
    color: white;
}

.recent_limit {
    max-width: 400px;
}

.pic {
    max-width: 100%;
    height: auto;
}


h3 p {
    color: white;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.card {
    background-color: #151f30;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: small;
}

.error-message {
    color: red;
    display: none;
}

input {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #131720;
    color: white;
}

input[type="number"]:focus {
    border: 2px solid gold;
}

input:hover {
    border: 2px solid gold;
    color: white;
    background-color: #131720;
    cursor: pointer;
}

.card p {
    color: white;
}

.track p a:link {
    color: gold;
}

.track p a:hover {
    color: orange;
}

.track p a:visited {
    color: rgb(255, 0, 0);
}

.track p a:active {
    color: rgb(172, 146, 0)
}

.discover-header {
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1;
}

.invalid-input {
    color: red;
    text-align: center;
    text-transform: uppercase;
}

.invalid-input img {
    border: 3px solid white;
}

.about img {
    height: 50%;
    width: 80vh;
}