{% extends "layout.html" %}
{% block title %}
Spotify Stats Home
{% endblock %}
{% block nav %}
<li><a class="active" href="/home">Home</a></li>
<li><a href="/recent_limit">Recent Songs</a></li>
<li><a href="/before_top_songs">Top Songs</a></li>
<li><a href="/before_top_artists">Top Artists</a></li>
<li><a href="/before_recommended">Recommended Songs</a></li>
<li><a href="/about">About</a></li>
{% endblock %}
{% block body %}
<main>
  <h1 class="discover-header">Discover Weekly</h1>

  <i id="icon_left" class="fa fa-chevron-left"></i>
  <div id="hold_images" class="card-container-scroll">
    {% for track in top_tracks %}
    <div class="card-scroll">
      <center>
        <img src="{{ track.track.album.images.0.url }}" alt="{{ track.track.name }} Song Image" class="pic">
      </center>
      <h3>{{ track.track.name }}</h3>
      <p>{{ track.track.artists.0.name }}</p>
    </div>
    {% endfor %}
  </div>
  <i id="icon_right" class="fa fa-chevron-right"></i>

</main>

<script>
  document.addEventListener("DOMContentLoaded", function () {
      const scrollAmount = 400; 
      const scrollDuration = 800; 

      const container = document.getElementById("hold_images");
      const iconRight = document.getElementById("icon_right");
      const iconLeft = document.getElementById("icon_left");

      
      iconRight.addEventListener("click", function () {
          container.scrollBy({ left: scrollAmount, behavior: 'smooth' });
      });

      
      iconLeft.addEventListener("click", function () {
          container.scrollBy({ left: -scrollAmount, behavior: 'smooth' });
      });


      const images = document.querySelectorAll('.pic');
      images.forEach(function(image) {
          image.addEventListener('mouseover', function () {
              this.classList.add('transition');
          });
          image.addEventListener('mouseout', function () {
              this.classList.remove('transition');
          });
      });
  });
</script>
{% endblock %}
